@model Super_Cartes_Infinies.Models.StartingCard

@{
    ViewData["Title"] = "Delete";
}

<h1>Supprimer</h1>

<h3>Êtes vous certain de vouloir supprimer cette carte de départ?</h3>
<div>
    <h4>Carte de départ</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Nom
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Card.Name)
        </dd>
        <dt class="col-sm-2">
            Attaque
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Card.Attack)
        </dd>
        <dt class="col-sm-2">
            Point de vie
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Card.Health)
        </dd>
        <dt class="col-sm-2">
            Coût
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Card.Cost)
        </dd>
        <dt class = "col-sm-2">
            Image
        </dt>
        <dd class = "col-sm-10">
            <img src="@Html.DisplayFor(model => model.Card.ImageUrl)" height="150px"/>
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Supprimer" class="btn btn-danger" /> |
        <a asp-action="Index">Retour à la liste</a>
    </form>
</div>
